<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Productive Ramadan App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>

    <nav class="navcolor navbar navbar-expand-lg navbar-light bg-light">
        <img class="app-logo" src="../static/images/ProductiveRamadanLogo.png" height="40">
        <a class="navbar-brand" href="#">Productive Ramadan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Newsletter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.buymeacoffee.com/darinmilner" target="_blank">Donate</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <section class="glass">
           
        <div class="container mt-3">
            <div class="row">
                <div class="col"> 
                    <h1>About Productive Ramadan App</h1>
                    <p>Ramadan, the month of mercy, Quran, fasting and connecting with Allah. We see Ramadan come and go year in and year out,
                    and each Ramadan we plan to do so much, but most end up falling short when the reality of fasting for 30 days hits us.
                    Have you ever wanted a better way to keep track of your Ramadan activities, or better organize your Ramadan schedules
                    and habits? Well here it is, a Ramadan app just for you. Productive Ramadan! Come join us and millions of Muslims around
                    the world working together with the productive Ramadan app to connect with Quran and Hadith, organized task list, check list
                    reminders, questionnaires and so much more. Let us feel connected this Ramadan and build our Taqwa together, and lets
                    have a productive Ramadan.</p>
                    <a id="homePageLinK" href="/">Back To Home</a>
                    <br><br>
                    <a id="playStoreLink" href="/">Link to Android Playstore</a>

                
                    <h1>Sign up to join our email newsletter to find out about future apps and to receive reminders during Ramadan</h1>
                    <a href="/signup">SIGN UP PAGE</a>

                    <br>
                    <div class="img-div">
                        <img class="about-photo" src="../static/images/app-ayah.png" height="300" alt="App Ayah-A-Day" >   
                   
                        <img class="about-photo" src="../static/images/tasks.png" height="300" alt="App Ayah-A-Day">
                    </div>
                </div>
            </div>
        </div> 
        </section>
    </main>
   
</body>

</html>